* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;  
  }
  
  body {
    align-self: center;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    height: 100vh;
    
  }
  
  .contador {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0%;
    font-size: 15vh;
    font-weight: 400;
    font-family: Roboto Mono;
    padding: 0%
  }

  #logo {
    box-sizing: border-box;
    padding: 3.5% 5% 0% 5%;
    max-width: 25%;
    height: auto;
  }